<form novalidate>
    <div class="row">
        <div class="col-12">
            <input type="text" ng-model="vm.props.name" placeholder="Enter beer name..." ng-model-options="{debounce: 300}" disabled="vm.state.isRandom" ng-disabled="vm.state.isRandom" />
            <input id="randomBeer" type="checkbox" ng-model="vm.state.isRandom" />
            <label for="randomBeer">Get random Beer</label>
        </div>
        <button type="submit" ng-click="vm.goFetch(vm.state.name)">Go</button>
    </div>
</form>
<div class="row">
    <div class="col-12">
        <beer-view beer="vm.state.beer"></beer-view>
    </div>
</div>